* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2rem;
    background-color: #1d272f;
}
